[submodule "src/third_party/PENF"]
  path = src/third_party/PENF
  url = https://github.com/szaghi/PENF
  branch = master
[submodule "src/third_party/StringiFor"]
  path = src/third_party/StringiFor
  url = https://github.com/szaghi/StringiFor
  branch = master
[submodule "src/third_party/BeFoR64"]
	path = src/third_party/BeFoR64
	url = https://github.com/szaghi/BeFoR64
  branch = master
[submodule "src/third_party/FLAP"]
  path = src/third_party/FLAP
  url = https://github.com/szaghi/FLAP
  branch = master
[submodule "src/third_party/FACE"]
	path = src/third_party/FACE
	url = https://github.com/szaghi/FACE
  branch = master
[submodule "src/third_party/fortran_tester"]
	path = src/third_party/fortran_tester
	url = git@github.com:pdebuyl/fortran_tester.git
