[submodule "src/third_party/PENF"]
	path = src/third_party/PENF
	url = git@github.com:szaghi/PENF.git
[submodule "src/third_party/StringiFor"]
	path = src/third_party/StringiFor
	url = git@github.com:szaghi/StringiFor.git
